<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.system2override.yoke">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AppLimit.AppLimitScreen">
            <intent-filter>
                <action android:name="com.system2override.yoke.APP_LIMIT_SCREEN" />
            </intent-filter>
        </activity>
        <activity android:name=".TodoManagement.TodoManagementScreen">
            <intent-filter>
                <action android:name="com.system2override.yoke.TODO_MANAGEMENT_SCREEN" />
            </intent-filter>
        </activity>
        <activity android:name=".BannedAppManagement.BannedAppScreen">
            <intent-filter>
                <action android:name="com.system2override.yoke.BANNED_APP_SCREEN" />
            </intent-filter>
        </activity>

        <service
            android:name=".ManagerService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.system2override.yoke.ManagerSrvice" />
            </intent-filter>
        </service>

        <receiver
            android:name=".BroadcastReceivers.ManagerServiceBootReceiver"
            android:label="ManagerServiceBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".BroadcastReceivers.DailyResetReceiver"
            android:exported="true"
            android:label="DailyResetReceiver">
            <intent-filter>
                <action android:name="com.system2override.yoke.RESET" />
            </intent-filter>
        </receiver>

        <activity android:name=".AppLimit.AppLimit" />
        <activity android:name=".TodoManagement.TodoManagement" />
        <activity android:name=".TodoManagement.AddToDo"></activity>
    </application>

</manifest>