<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.system2override.hobbes">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/hobbes_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/HobbesAppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".AppLimit.AppLimitScreen"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="com.system2override.hobbes.APP_LIMIT_SCREEN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TodoManagement.TodoManagementScreen"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BannedAppManagement.BannedAppScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.system2override.hobbes.BANNED_APP_SCREEN" />
            </intent-filter>
        </activity>

        <service
            android:name=".ManagerService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.system2override.hobbes.ManagerSrvice" />
            </intent-filter>
        </service>

        <receiver
            android:name=".BroadcastReceivers.ManagerServiceBootReceiver"
            android:label="ManagerServiceBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".BroadcastReceivers.DailyResetReceiver"
            android:exported="true"
            android:label="DailyResetReceiver">
            <intent-filter>
                <action android:name="com.system2override.hobbes.RESET" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ManageToDo.AddToDoScreen"
            android:parentActivityName=".TodoManagement.TodoManagementScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ManageToDo.EditToDoScreen"
            android:parentActivityName=".TodoManagement.TodoManagementScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SetUsageLimitsScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.system2override.hobbes.SetUsageLimitsScreen" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SPLASH" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity
            android:name=".OnboardingScreens.WelcomeScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OnboardingScreens.HowToScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.system2override.hobbes.HowToScreen" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UsageHistory.UsageHistoryScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.system2override.hobbes.UsageHistoryScreen" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OnboardingScreens.AfterHowToScreen"
            android:screenOrientation="portrait" />
        <activity android:name="com.system2override.yoke.SplashScreen" />
        <activity android:name=".HobbesScreen"></activity>
    </application>

</manifest>